.prayer-times-container {
  background-color: #f7ecda;
  border-radius: 5px;
}

.title, .prayer-times {
  min-height: 30px;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}


