.event-card {
  height: 145px;
  width: 298px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #f7ecda;
  border-radius: 5px;
  font-weight: 500;
}

.event-card .event-card-heading {

display: flex;
flex-grow: 1;
padding: 15px 15px 10px 15px
}

.event-card-heading .event-card-heading-content-container {
display: block;
width: 100%;
}

.event-card .event-card-content {
display: flex;
flex-grow: 1;
padding: 0px 15px 15px 15px;
overflow: hidden;
}

.event-card-content .event-card-content-container {
margin-top: 10px;
display: block;
width: 100%;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}