$primary-palette: (
  50: #efefef,
  100: #e1d0ba,
  200: #c7b198,
  300: #ab9374,
  400: #957b58,
  500: #80643c,
  600: #755a36,
  700: #664c2c,
  800: #593f24,
  900: #4a311a,
  A100: #fffcfd,
  A200: #ffc9d6,
  A400: #ff96af,
  A700: #ff7d9b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$secondary-palette: (
  50: #efefef,
  100: #d3d7da,
  200: #b4bec3,
  300: #94a4ad,
  400: #7d909b,
  500: #657d8a,
  600: #596e79,
  700: #008dbb,
  800: #007ca8,
  900: #005c87,
  A100: #aad8ff,
  A200: #77c1ff,
  A400: #44aaff,
  A700: #2a9eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$warn-palette: (
  50: #efefef,
  100: #e1d0ba,
  200: #c7b198,
  300: #ab9374,
  400: #957b58,
  500: #80643c,
  600: #755a36,
  700: #664c2c,
  800: #593f24,
  900: #4a311a,
  A100: #fffcfd,
  A200: #ffc9d6,
  A400: #ff96af,
  A700: #ff7d9b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);
