.header, .footer {
  background-color: #C7B198;
}

p {
  line-height: 22px;
}

.header {
  height: 140px;
}

.content {
  background-color: #f7ecda;
}

.logo {
  height: 100px;
}

.color-primary {
  background-color: #C7B198
}

.color-secondary {
  background-color: #f7ecda
}

a {
  color: white;
}

a:hover {
  color: white;
}

.mission-container {
  background-image: url("./../assets/images/mosquelight.png");
  background-repeat: no-repeat;
  height: auto;
  min-height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin: 0px;
}

.mission-statement-container {
  display: flex;
  min-height: 400px;
  background-color: rgba(199, 177, 152, 0.75);
  font-size: 16px;    
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.prayer-times-card {
  background-color: #C7B198;
  height: 185px;
  align-items: center;
}

.events-container {
  background-color: #C7B198;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
}