<div class="container-fluid p-0">
  <div class="container-fluid color-primary">
    <div class="container">
      <div class="row header pt-3">
        <div class="col">
          <img class="logo" src="assets/images/logo300.png" />
        </div>
        <div class="col pt-5">
          <navigation-component></navigation-component>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid content color-secondary pt-5">
    <div class="container">
      <div class="container prayer-times-card">
        <div class="row pb-2">
          <div class="d-flex justify-content-between align-items-center">
            <div class="flex">
              <p class="h1">
                Prayer times
              </p>
            </div>
            <div class="flex flex-align-end">  
              <p class="h2">
                15-12-2022
                <br>
                15 Zilhaj
              </p>   
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <prayer-time title="Fajr" prayerTime="5:43 AM">
            </prayer-time>
          </div>
          <div class="col">
            <prayer-time title="Duhar" prayerTime="12:15 PM">
            </prayer-time>
          </div>
          <div class="col">
            <prayer-time title="Asar" prayerTime="15:43 PM">
            </prayer-time>
          </div>
          <div class="col">
            <prayer-time title="Magrib" prayerTime="19:10 PM">
            </prayer-time>
          </div>
          <div class="col">
            <prayer-time title="Eisha" prayerTime="21:00 PM">
            </prayer-time>
          </div>        
        </div>
      </div>
      <div class="row pt-5">
        <div class="container">
          <div class="container events-container">
            <div class="row pt-3">
              <p class="h1">
                Upcoming events
              </p>
            </div>
            <div class="row pb-5">
              <events-carousel></events-carousel>
            </div>
          </div>          
        </div>        
      </div>
      <div class="row mt-5 mission-container">
        <div class="col-md col-lg-7 mission-statement-container align-self-center">
          <div class="d-flex flex-column mt-3 mb-3">
            <div>
              <p class="h1">Mission Statement</p>
            </div>
            <div>
              <p>
    
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
                Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
                sit amet..", comes from a line in section 1.10.32.
                <br>
                <br>
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
              </p>
            </div>            
          </div>
        
        </div>
      </div>      
      <services-available [availableServices]="availableServices"></services-available>    
    </div>
  </div>
  <div class="container-fluid color-primary">
    <div class="container">
      <div class="row footer">
        dfasf
      </div>
    </div>
  </div>
</div>
